language: python
python:
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest

#
services:
  - postgresql

before_script:
  - psql -c 'create database sto1;' -U postgres
  - python flask db init
  - python flask db migrate
  - python flask db upgrade
  